* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

.App {
  padding: 10px;
  height: 350px;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.sketch-picker {
  border: none !important;
  box-shadow: none !important;
  width: 230px !important;
  padding: 0 !important;
}

.flexbox-fix:nth-last-child(2) {
  display: none !important;
}
